# Kafka (Confluent Cloud)
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_API_KEY=
KAFKA_API_SECRET=
KAFKA_GROUP_ID=inventory-service-group

REDIS_URL=redis://user:password@host:port

# catalog-service URL
# Local (Docker):      http://catalog-service:8006
# Producción (Render): https://catalog-service-cinema.onrender.com
CATALOG_SERVICE_URL=
